/* =Grid
----------------------------------------------- */
// Clearfixes & Rows
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.row,
.clearfix {
	zoom: 1; 
	&:after {
		clear: both; 
	}
	&:before,
	&:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0; 
	}
}

// Columns
.col { float: left; }


// WP Alignment
.alignleft { 
	float: left; 
	margin-right: 15px; 
}
.alignright { 
	float: right; 
	margin-left: 15px; 
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* =Layout
----------------------------------------------- */
html, body, #wrapper { 
	height: 100%; 
}